<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-agence-voyage-heading" jhiTranslate="wegaTravelPartnerManagerApp.agenceVoyage.home.createOrEditLabel">Create or edit a Agence Voyage</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wegaTravelPartnerManagerApp.agenceVoyage.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wegaTravelPartnerManagerApp.agenceVoyage.lieu" for="field_lieu">Lieu</label>
                    <input type="text" class="form-control" name="lieu" id="field_lieu"
                           formControlName="lieu"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wegaTravelPartnerManagerApp.agenceVoyage.ville" for="field_ville">Ville</label>
                    <input type="text" class="form-control" name="ville" id="field_ville"
                           formControlName="ville"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wegaTravelPartnerManagerApp.agenceVoyage.commission" for="field_commission">Commission</label>
                    <select class="form-control" id="field_commission" name="commission" formControlName="commission">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="commissionOption.id === editForm.get('commission')!.value?.id ? editForm.get('commission')!.value : commissionOption" *ngFor="let commissionOption of commissions; trackBy: trackById">{{ commissionOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="wegaTravelPartnerManagerApp.agenceVoyage.devise" for="field_devises">Devise</label>
                    <select class="form-control" id="field_devises" multiple name="devises" formControlName="devises">
                        <option [ngValue]="getSelected(editForm.get('devises')!.value, deviseOption)" *ngFor="let deviseOption of devises; trackBy: trackById">{{ deviseOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
