<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-echange-devise-heading" jhiTranslate="wegaTravelPartnerManagerApp.echangeDevise.home.createOrEditLabel">Create or edit a Echange Devise</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wegaTravelPartnerManagerApp.echangeDevise.code1" for="field_code1">Code 1</label>
                    <input type="text" class="form-control" name="code1" id="field_code1"
                           formControlName="code1"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wegaTravelPartnerManagerApp.echangeDevise.code2" for="field_code2">Code 2</label>
                    <input type="text" class="form-control" name="code2" id="field_code2"
                           formControlName="code2"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wegaTravelPartnerManagerApp.echangeDevise.tauxchange" for="field_tauxchange">Tauxchange</label>
                    <input type="number" class="form-control" name="tauxchange" id="field_tauxchange"
                           formControlName="tauxchange"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wegaTravelPartnerManagerApp.echangeDevise.devise" for="field_devise">Devise</label>
                    <select class="form-control" id="field_devise" name="devise" formControlName="devise">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="deviseOption.id === editForm.get('devise')!.value?.id ? editForm.get('devise')!.value : deviseOption" *ngFor="let deviseOption of devises; trackBy: trackById">{{ deviseOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
